<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>2020 Mataraman Ideas Summit</title>
	<link rel="icon" href="img/assets/Picture1.png" type="image/png">

  <link rel="stylesheet" href="vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="vendors/linericon/style.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="vendors/flat-icon/font/flaticon.css">
  <link rel="stylesheet" href="vendors/nice-select/nice-select.css">

  <link rel="stylesheet" href="css/style.css">
  <style>
    .kuning {
      color: #f9aa32;
    }
    .red {
      color: red;
    }
    .size-100px {
      font-size: 100px;
    }
    .logo {
      max-width: 100px;
    }
    .has-error input, select{
      border-width: 1px;
      border-color: red;
      border-style: solid;
    }
    @media (min-height:1000px) {
      .padding-top-content {
        padding-top: 100px;
      }
    }
    @media (max-height:999px) {
      .padding-top-content {
        padding-top: 80px;
      }
    }
  </style>
</head>
<body class="bg-shape" ng-app="apps">

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index.html"><img class="logo" src="img/assets/Picture1.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="index.html">Beranda</a></li> 
              <li class="nav-item"><a class="nav-link" href="about.html">Tentang</a></li> 
              <li class="nav-item"><a class="nav-link" href="program.html">Program</a>
              <li class="nav-item"><a class="nav-link" href="benefit.html">Benefits</a></li>
              <li class="nav-item"><a class="nav-link" href="terms.html">Persyaratan</a></li>
              <li class="nav-item active"><a class="nav-link" href="registration.html">Daftar</a></li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <!--================Hero Banner Area Start =================-->
  <section ng-controller="controller" class="hero-banner">
    <div class="container search-wrapper">
      <form ng-submit="submitForm()" id="forms" class="search-form">
        <div class="row">
          <div class="col-md-12" ng-if="isSuccess">
            <div class="alert alert-success">
              <strong>Terima Kasih!</strong> <br>
              Data diri anda telah terdaftar dalam sistem kami
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nama Lengkap" name="name">
              <small class="red" ng-repeat-start="val in formError.name">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Email" name="email">
              <small class="red" ng-repeat-start="val in formError.email">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="No. Handphone" name="no_handphone">
              <small class="red" ng-repeat-start="val in formError.no_handphone">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Tempat Lahir" name="place_birth">
              <small class="red" ng-repeat-start="val in formError.place_birth">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <input type="date" placeholder="Tanggal Lahir" name="date_birth" class="form-control">
              <small class="red" ng-repeat-start="val in formError.date_birth">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Kota Domisili" name="city">
              <small class="red" ng-repeat-start="val in formError.city">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Pekerjaan" name="job">
              <small class="red" ng-repeat-start="val in formError.job">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <select name="gender" id="gender">
                <option value="" disabled selected>Jenis Kelamin</option>
                <option value="L">Laki - Laki</option>
                <option value="P">Perempuan</option>
              </select>
              <small class="red" ng-repeat-start="val in formError.gender">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <select name="role" id="role">
                <option value="" disabled selected>Role</option>
                <option value="Hacker (IT)">Hacker (IT)</option>
                <option value="Hipster (Design)">Hipster (Design)</option>
                <option value="Hustler (Marketing)">Hustler (Marketing)</option>
              </select>
              <small class="red" ng-repeat-start="val in formError.role">{{val}}</small><br ng-repeat-end>
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <textarea name="ideas" placeholder="Deskripsikan mengenai ide bisnis digitalmu!" class="form-control" style="height: 330px;"></textarea>
              <small class="red" ng-repeat-start="val in formError.ideas">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Bidang Ide Bisnis (Ex. F&B, Fashion,Agrikultur, Pariwisata, dll.)" name="ideas_type">
              <small class="red" ng-repeat-start="val in formError.ideas_type">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <select name="pay_method" id="pay_method">
                <option value="" disabled selected>Metode Pembayaran</option>
                <option value="Bank Transfer">Bank Transfer</option>
                <option value="Gopay">Gopay</option>
                <option value="Dana">Dana</option>
              </select>
              <small class="red" ng-repeat-start="val in formError.pay_method">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group" style="text-align: left;">
              <small style="padding-left: 5px; padding-bottom: 5px;">Upload Bukti Pembayaran</small>
              <input type="file" class="form-control" name="file">
              <small class="red" ng-repeat-start="val in formError.file">{{val}}</small><br ng-repeat-end>
            </div>
            <div class="form-group">
              <button class="button border-0 mt-3" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!--================Hero Banner Area End =================-->

  <script src="vendors/jquery/jquery-3.2.1.min.js"></script>
  <script src="vendors/bootstrap/bootstrap.bundle.min.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/nice-select/jquery.nice-select.min.js"></script>
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/skrollr.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/angular.min.js"></script>
  <script>
    const baseUrl = `https://api.rekomindonesia.com`
    var app = angular.module('apps',[])
    app.controller('controller',function($scope,$http) {
      $scope.formData={}
      $scope.formError={}
      $scope.submitForm=function() {
        $scope.formError={};
        $.ajax({
          type: "post",
          url: `${baseUrl}/v1/mataraman_register`,
          contentType: false,
          cache: false,
          processData: false,
          data: new FormData($('#forms')[0]),
          success: function(data) {
            $scope.$apply(function(){
              $scope.isSuccess=true
              $scope.formData={}
            })
          },
          error: function(xhr, response, status) {
            $scope.$apply(function(){
              $scope.isSuccess=false
            })
            if(xhr.status==422) {
              $scope.$apply(function() {
                $scope.formError=xhr.responseJSON
              })
            }
          }
        })
      }
    })
  </script>
</body>
</html>